  body {
   align-self: center;
   background-color: hsl(29, 60%, 93%);
   text-align: center;
   align-items: center;
   align-content: center;
   font-size: 40px;
   font-family: fantasy;
}
 hr {
    border-color: grey;
    border-width: 5px;
    border-style: dotted hidden hidden;
    height: 0;
    width: 5%;
  }
h1{
  background-color: #D8D9CF;
  font-weight: bold;
  color: #860012;
  font-size: 40px;
}
h3{
  font-weight: bold;
  color: #b40125;
  background-color: #D8D9CF;
  font-size: 40px;
  text-align: center;
  font-family: fantasy;
  text-align: center;
}
h3 :hover{
  color: crimson;
}
.boom:hover{
  color: rgb(255, 17, 136);
}
p{
  color: #628E90;
  font-family: fantasy;
  font-size: 40px;
}
.hed{
font-size: 30px;
color: #628E90;
  font-family: fantasy;
}
.hed1{
font-size: 30px;
color: #628E90;
 font-family: fantasy;
}
a{
  color: rgb(59, 143, 240);
}
a:hover {
  color: hotpink;
}
a :active{
  color: #420042;
}
table{
  margin-left: auto;
  margin-right: auto;
}