  body {
    background-color: #F8EDE3;
  }
  hr {
    border-color: grey;
    border-width: 5px;
    border-style: dotted hidden hidden;
    height: 0;
    width: 5%;
    align: "center";
  }
h1{
  font-weight: bold;
  color: #7D6E83;
}
h3{
  font-weight: bold;
  color: grey;

}
