  body {
    background-color: #F8EDE3;
    font-family: cursive;
    text-align: center;
    align-items: center;
    align-content: center;

  }
  hr {
    border-color: grey;
    border-width: 5px;
    border-style: dotted hidden hidden;
    height: 0;
    width: 5%;
  }
h1{
  background-color: #D8D9CF;
  font-weight: bold;
  color: #7D6E83;
  font-size: 40px;
}
h3{
  font-weight: bold;
  color: grey;
  background-color: #D8D9CF;
  font-size: 40px;
}
p{
  color: #628E90;
  font-family: fantasy;
}
div{
  text-align: center;
  font-size: 40px;
  font-family: cursive;
}
